.contact {
	position: relative;

	@include below (sm) {
		padding: 0!important;
	}

	@include above (sm) {
		&:before, &:after {
			content: ''; 
			top: 0;
			height: 100%;
			width: 50%;
			position: absolute;
			z-index: -1;
		} 

		&:before {
			background: $red;
			left: 0;
		}

		&:after {
			background: $gray;
			right: 0;
		}
	}

	&__info {
		background: $red;
		flex: 1;

		@include below (sm) {
			padding-top: 3rem;
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 0;
		height: 33.3%;

		@include below (sm) {
			padding-bottom: 3rem;
		}
	}

	&__btn {
		margin: auto;

		@include button-glow(
			$opacity: .3
		);

		svg {
			width: 1.6rem;
			fill: $blue;

			@include above (sm) {
				width: 2rem;
			}
		}
	}

	&__link {
		transition: all ease .3s;
		color: $white; 
		font-size: 16px;
		font-weight: 600;

		@include below (sm) {
			padding-top: 2rem;
		}

		&:hover {
			color: $blue;
		}
	}

	&__form {
		background: $gray;

		@include below (sm) {
			padding-top: 3rem;
			padding-bottom: 3rem;
			width: 100%;
		}

		@include above (sm) {
			padding-left: 3rem;
		}
	}
}

#pause {
	svg {
		left: 0rem;
	}
}