.cta {
	overflow: hidden;

	&__text, &__contact {
		padding-top: 3rem;
		padding-bottom: 3rem;

		@include above (sm) {
			padding-top: 5rem;
			padding-bottom: 5rem;
		}
	}
	
	&__contact {
		@include below (sm) {
			width: 100%;	
		}

		a {
			color: $white;
			transition: all ease .3s;
			margin: 0;

			&:hover {
				color: $blue;
				border-color: $blue;
			}
		}
		
		&:after {
			content: ''; 
			top: 0;
			height: 100%;
			width: 100vw;
			position: absolute;
			z-index: 1;
			background: $red;
			left: 100%;
		}
	}
}