.employee {

	&__item {
		background: $gray;
		background-clip: content-box;

		@include between (xs, sm) {
			width: 50%;
		}

		@include below (sm) {
			margin: 1rem 0;
		}

		strong {
			padding-bottom: 1rem;
			display: block;
			color: $red;
			font-size: 14px;
		}

		@include above (sm) {
			margin: 2rem 0rem;
		}
	}

	&__name {
		color: $custom-font-body;
		margin-bottom: 0;
		padding-bottom: 1rem;
	}

	&__content {
		padding: 1rem;

		.fa {
			color: $blue;
		}

		.fa-linkedin {
			&:hover {
				color: $red;
			}
		}
	}

	&__link {
		display: block;
		color: $blue;
		transition: all ease .3s;

		&:hover {
			color: $red;
		}
	}
}