/********************FOOTER********************/

/*
 * This file should house all of the styles for
 * footer.php.
 */

.footer {

	&__item {
		padding-top: 3rem;
		
		p {
			@include above (sm) {
				margin-bottom: 0;
			}
		}
	}
}
