//gravity forms

.gform {
	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
	}

	&_body {
		width: 100% !important;
		text-align: center;
	}

	&_fields {
		list-style: none;
		padding-left: 0;
	}

	&_title {
		font-size: 24px !important;
		font-weight: 700 !important;
		padding-bottom: 1.5rem;
	}

	// Submit
	&_button {
		margin: 0 !important;
		display: inline-block;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease; 
		outline: none;
		border: none;
		font-size: 14px!important;
		padding: .8rem 5rem!important;

		@include below (sm) {
			line-height: 1!important;
		}	

		@extend .btn;
		@extend .btn--red;

		&:hover {

		}
	}

	// Submit wrapper
	&_footer {
		
	}
}

/**
 * Form fields
 **/

.gfield {
	margin-bottom: 1.5rem;
	padding-right: 0 !important;

	// Labels
	&_label {
		display: none !important;
	}

	&_required {
		color: red;
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	// Fields
	input[type="email"],
	input[type="text"],
	textarea {
		display: block;
		padding: .5rem;
		line-height: 1 !important;
		background: transparent;
		border: none;
		border-bottom: 3px solid $blue;
		-webkit-appearance: none;
		transition: all 0.3s ease;
		padding: 8px 5px!important;
		text-indent: .25em;
		outline: none;

		&:hover, &:focus {
			
		}

		&:focus, &:active, &:visited {

		}
	}
}

/**
 * Validations
 **/

.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}

.gform_confirmation_message {
	text-align: center;
	float: left;
	width: 100%;
}


#gform_wrapper_2 {

	#gform_2 {
		@include above (sm) {
			display: flex;
		}
	}

	.gform {

		&_body {
			@include above (sm) {
				display: inline-flex;
				width: 75%;
			}
		}

		&_footer {
			@include above (sm) {
				display: inline-flex;
    			width: 25%;
    		}
		}
	}

	.gfield {
		// Fields
		input[type="email"],
		input[type="text"],
		textarea {
			display: block;
			padding: .5rem;
			line-height: 1 !important;
			background: transparent;
			border: none;
			border-bottom: 3px solid $blue-light;
			-webkit-appearance: none;
			transition: all 0.3s ease;
			padding: 8px 5px!important;
			text-indent: .25em;
			outline: none;
			color: $white;

			&:hover, &:focus {
				border-bottom: 3px solid $red;
			}

			&:focus, &:active, &:visited {

			}
		}

		textarea {
			height: 44px;
			line-height: 1.5!important;
		}
	}
}

.gf_middle_third, .gf_left_third,  
.gf_right_third {
	@media (min-width: 640px) {
		width: calc(33.3% - 1rem)!important;
		margin-right: 1rem!important;
	}
}


#gform_wrapper_3 {

	#gform_3 {

	}

	.gform {

		&_title {
			color: $blue;
		}

		&_page_footer {
			border-top: none;
			text-align: left;
		}

		&_next_button, &_previous_button {
			margin: 0 !important;
			display: inline-block;
			-webkit-appearance: none;
			cursor: pointer;
			transition: all .3s ease; 
			outline: none;
			border: none;
			font-size: 14px!important;
			padding: .8rem 5rem!important;

			@include below (sm) {
				line-height: 1!important;
			}	

			@extend .btn;
			@extend .btn--red;

			&:hover {

			}
		}

		&_previous_button {
			margin-right: .5rem!important;
			margin-top: 1rem!important;
			margin-bottom: 1rem!important;
		}
	}

	.gfield {

		// Fields
		input[type="email"],
		input[type="text"],
		textarea {
			display: block;
			padding: .5rem;
			line-height: 1 !important;
			background: transparent;
			border: none;
			border-bottom: 3px solid $blue-light;
			-webkit-appearance: none;
			transition: all 0.3s ease;
			padding: 8px 5px!important;
			color: $blue;

			&:hover, &:focus {
				
			}

			&:focus, &:active, &:visited {

			}
		}

		&_checkbox {
			text-align: left;
			color: $custom-font-body;

			input {
				margin-top: 0;
				position: relative;
				outline: none;
				margin-top: 0!important;
				-webkit-appearance: none;

				&:before {
		  			content: '';
		  			position: absolute;
			  		display: none;
				}

				&:after {
					position: absolute;
					width: 20px;
					height: 20px;
					content: '';
					background: $white;
					left: 0;
					top: -10px;
					transition: all ease .3s;
				}
			}

			label {
				margin-left: 2rem;
			}

			input[type="checkbox"]:checked {
				&:before {
					display: block;
					left: 8px;
		    		top: -6px;
					width: 5px;
					height: 10px;
					border: solid $blue;
					border-width: 0 2px 2px 0;
					-webkit-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
					z-index: 100;
				}
			}
		}
	}

	.gf_progressbar {
		display: none!important;
	}

	.gf_progressbar_title {
		color: $custom-font-body;
		opacity: 1;
		margin-left: 0!important;
	}
}



