/********************HEADER********************/

/*
 * This file should house all of the styles for
 * header.php.
 */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &.is-fixed {
    position: fixed;
    background: $blue;
  }

  &:after {
  	content: '';
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  	background: $white;
  	height: 2px;
  	opacity: .05; 
  }

  &__container {
  	position: relative;
  }

  &__logo {
    display: block;
    float: left;

    img {
      width: 150px;
      height: 29px;
          
      @include above (sm) {
        width: 200px;
        height: 39px;
      }
    }
  }
}