/********************LAYOUTS********************/

/* Base Styles */

#wysiwygs-1 {
  .wysiwygs__title {
    margin-top: 0;
  }
}

/* WYSIWYGs */
.wysiwygs {
  [class^="row-"], [class*=" row-"] { 
    // row-specific styles here

  }

  &__title {
    
  }

  &__col {

    a {
      color: $blue;
      transition: all ease .3s;

      &:hover {
        color: $red;
      }
    }
  
    h2, h3, 
    h4, h5, 
    h6 {
      @include above (sm) {
        margin-top: 0;
      }
    }

  	
  	@include above (sm) {
    		&.first {
    			p:last-child {
  			   margin-bottom: 0;
  			 }
    		}
    	}
  	
  	&.last {
  		p:last-child {
  			margin-bottom: 0;
  		}
  	}
  }
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}


.padding {

  &--top {
    padding-top: 3rem;
    
    @include above (sm) {
      padding-top: 3rem;
    }

    @include above (md) {
      padding-top: 4rem;
    } 

    @include above (lg) {
      padding-top: 5rem;
    }
  }

  &--bottom {
    padding-bottom: 3rem;
    
    @include above (sm) {
      padding-bottom: 3rem;
    }

    @include above (md) {
      padding-bottom: 4rem;
    } 

    @include above (lg) {
      padding-bottom: 5rem;
    }
  }

  &--both {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include above (sm) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    @include above (md) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    } 

    @include above (lg) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}