.link-boxes {
 
	&__header {
		margin-top: 0;
		padding-bottom: 2rem;
		
		@include above (sm) {
			padding-bottom: 3rem;
		}
	}

	&__text {
		padding-bottom: 4rem;
	}

	&__row {
		@include above (sm) {
			width: 100%;
		}
	}

	&__item {

		@include below (sm) {
			width: 100%;
			padding-bottom: 3rem;

			&:last-child {
				padding-bottom: 0;
			}
		}

		#Capa_1 {
			fill: $red;
			max-width: 3rem;
			height: auto;
			margin: auto;
		}

		@include above (sm) {
			padding-bottom: 2rem;
		}
	}

	&__icon {
		
	}

	&__title {
		font-family: $custom-font-body;
		font-size: 16px;

		@include above (sm) {
			font-size: 18px;
		}
	}

	&__link {
		color: $blue;
		position: relative;

		&:before {
			position: absolute;
			bottom: -1rem;
			content: '';
			width: 100%;
			height: 2px;
			background: $blue;
			opacity: 0;
			transition: all ease .3s;
		}

		&:hover {
			color: $red;
			
			&:before {
				bottom: 0;
				opacity: 1;
			}
		}

		@include above (sm) {			
	    	position: absolute;
	    	bottom: 0;
	    	left: 50%;
	    	transform: translateX(-50%);
	    }
	}
}