/********************PAGE********************/

/*
 * This file should house all of the styles for any
 * page template, i.e. page.php or page-{rename}.php.
 */

.page {
	
	&__hero {
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: 6rem;
		padding-bottom: 2rem;

		@include above (sm) {
			padding-top: 10rem;
			padding-bottom: 10rem;
		}

		&:after {
			content: '';
			background: linear-gradient(135deg, rgba($red,1) 0%,rgba($blue,1) 50%,rgba($blue,1) 100%);
			// background: $blue;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
			opacity: .97;

			@include above (sm) {
				background: linear-gradient(135deg, rgba($red,1) 0%,rgba($blue,1) 30%,rgba($blue,1) 100%);
			}
		}
	}  

	&__title {
		position: relative;
		z-index: 99;
		color: $white;
		font-family: 'Plyfair Display';
	}

	&__text {
		color: $white;
		z-index: 99; 
		position: relative;
		padding: 0;
	}
}
