.partners {

	&__item {
		align-self: center;
		text-align: center;
		padding-top: 1rem;
		padding-bottom: 1rem;

		@include below (sm) {
			width: 50%;
		}

		img {
			max-width: 130px;
			width: auto;
		}
	}
}