.purpose {

	&__subtitle {
		color: $red;
		font-family: $custom-font-body;
	}

	&__intro {
		padding-bottom: 1.5rem;
	}

	&__textbox {

		&--title {
			span {
				color: $red;
			}
		}
	}

	&__return {
		background: $blue;
		color: $white;
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;

		ul {
			list-style: none;
			padding-left: 1rem;
		}

		li {
			position: relative;

			&:before {
				content: '•';
				position: absolute;
				left: -1rem;
				color: $red;
			}
		}

		@include above (sm) {
			padding: 1.5rem;
			margin-left: calc(8.33333% - 1rem);
		}

		&--title {
			position: relative;

			@include below (sm) {
				margin-top: 0;
			}

			&:before {
				content: '';
				bottom: -1rem;
				width: 3rem;
				height: 3px;
				background: $red;
				position: absolute;
			}
		}
	}
}