.references {

	&__container {
		position: relative;
		padding-bottom: 1.5rem;

		@include below (sm) {
			display: block!important;
		}

		&:after {
			content: '';
			width: calc(100% - 2rem);
			position: absolute;
			bottom: 0;
			height: 3px;
			left: 1rem;
			background: #585865;
		}
	}
	
	&__intro {
		padding-left: 0;

		@include above (sm) {
			display: flex;
    		flex-direction: column;
    		justify-content: center;
    	}
	}

	&__title {
		color: $white;
	}

	&__item {
		padding: 1rem;
		display: flex;
		flex-direction: column;

		img {
			margin: auto;
		}
	}
}