.slider {
	position: relative;

	&__track {

		&--references {

			.owl-stage {
				display: flex;
			}

			.owl-item { 
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}

		&--footer {
			@include above (sm) {
				width: calc(100% - 16.666%)!important;
			}
		}
	}

	&__item {
		position: relative;
		z-index: 2;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;

		&:before {
			content: '';
			display: block;
			height: 0;
			padding-bottom: 30rem;

			@include above (sm) {
				padding-bottom: 35rem;
			}

			@include above (lg) {
				padding-bottom: 40rem;
			}
		}

		&:after {
			content: '';
			background: linear-gradient(135deg, rgba($red,1) 0%,rgba($blue,1) 30%,rgba($blue,1) 100%);
			// background: $blue;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
			opacity: .97;
		}
	}

	&__container {
		position: relative;
		z-index: 100;
	}

	&__title {
		color: $white;
		margin-bottom: 1.5rem;
		font-family: 'Plyfair Display';
	}

	&__text {
		color: $white;
	}	
}


/**
 * Owl Carousel core
 **/

.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			overflow: hidden;
			-webkit-transform: translate3d(0, 0, 0);
		}
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
	}

	// Navigation
	.owl-nav,
	.owl-dots {
		&.disabled {
			display: none;
		}
	}

	.owl-prev,
	.owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all .3s ease;

		&.disabled {
			opacity: 0;
			cursor: default;
		}
	}

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	/**
	 * Animations
	 **/

	 // Defaults
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}
}