.share {
	text-align: left;
	display: flex;
	align-items: center;
	margin-bottom: 1rem;

	&__button {
		line-height: 0rem;
		height: inherit;
		display: inline-block;
		vertical-align: middle;

		& + & {
			margin-left: 1rem;
		}

		&--linkedin {
			top: .43rem;
			position: relative;
		}

		&--twitter {
			top: .1rem;
    		position: relative;
		}
	}
}