.testimonials {

	&__heading {
		margin-top: 0;
		padding-bottom: 1.5rem;

		@include above (sm) {
			padding-bottom: 3rem;
		}
	}

	&__item {
		background: $gray;
		border-radius: .5rem;
		width: calc(50% - 2rem);
		margin: 1rem;
		display: flex;
		flex-direction: column;


		@include below (sm) {
			width: 100%;
			margin-top: 2rem;
			margin-bottom: 2rem;
		}

		i {
			color: $red;
			position: absolute;
			right: 1rem;
			top: 2rem;
			font-size: 52px;

			@include above (sm) {
				font-size: 92px;
			}
		}
	}

	&__img-box {
		border-radius: 50%;
		overflow: hidden;
		display: inline-block;
		margin-right: auto;
		margin-left: auto;
		position: relative;
		z-index: 0;
		top: -2.5rem;

		&:before {
			background: linear-gradient(135deg, rgba(205,118,130,1) 0%,rgba(80,81,103,1) 50%,rgba(80,81,103,1) 100%);
			content: '';
			position: absolute;
			width: calc(100% + 10px);
			height: calc(100% + 10px);
			top: -5px;
			left: -5px;
			opacity: .5;
		}

		&:after {
			content: '';
			position: absolute;
			background: transparent;
			height: 80px;
			width: 80px;
			top: 0;
			left: 0;
			border-radius: 50%;
			border: $blue solid 3px;
		}
	}

	&__content {
		position: relative;
		top: -1.5rem;
	}

	&__title {
		margin: 0;
		font-family: $custom-font-body;
		padding-bottom: .5rem;
	}

	&__quote {
		@include above (sm) {
			width: calc(100% - 5rem);
			left: -5rem;
			margin-left: 0;
			margin-right: 0;
		}
	}
}