.video {
	height: 480px;

	@include above (sm) {
		height: 560px;
	}

	@include above (lg) {
		height: 640px;
	}

	&__player {
		position: absolute;
		z-index: -100;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;

		@include below (sm) {
			display: none;
		}
	}

	&__container {
		position: relative;
		height: 100%;
		z-index: 2;
		overflow: hidden;
		background: no-repeat center center;
		background-size: cover;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(135deg, rgba($red,1) 0%,rgba($blue,1) 30%,rgba($blue,1) 100%);
			opacity: .97;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
	}

	&__inner {
		display: flex;
	    height: 100%;
	    justify-content: center;
	    flex-direction: column;
	    z-index: 100;
	    position: relative;

	    .btn--red {
	    	margin-right: 1rem;
	    }
	}
}