.btn {
	padding: .5rem 2rem;
	display: inline-block;
	position: relative;
	transition: all ease .3s;
	border-radius: 1.5rem;
	font-weight: 600;
	font-size: 14px;

	@include above (sm) {
		padding: .7rem 2.5rem;
	}

	&--red {
		background: $red;
		color: $white;
		box-shadow: 0 0 30px rgba($blue, 0.6);
	}

	&--video, &--contact {
		border-radius: 50%;
		padding: 1rem;

		@include above (sm) {
			padding: 1.2rem;			
		}
	}

	&--video {
		background: $red;
	}

	&--hollow {
		border: 2px solid $white;
		color: $white;

		@include below (sm) {
			margin-top: 1rem;
		}
	}

	&--nav {
		border: 2px solid $white;
		padding: .5rem .8rem!important;
		margin-left: 1rem;
		color: $white;

		@include below (sm) {
			margin-top: 1rem;
		}
	}

	&--contact {
		background: $white;
	}

	&--glow {
		@include button-glow();
	}

	&--border {
		color: $blue;
		border-bottom: .1rem solid $blue;
		text-transform: uppercase;
		font-weight: 600;
	}
}

