/* Color classes (modify as needed) */

$colors: "white" $white, "gray" $gray, "black" $black, "blue" $blue, "blue-light" $blue-light, "red" $red;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value;
  }

  .#{$label}--bg {
    background-color: $value;
  }
}

.blue--bg, .red--bg {
	color: $white;
}