h1 {
  font-weight: 900;
}

h2, h3,
h4, h5, h6 {
  font-weight: 700;
}

h1, .h1 {
  font-size: 32px;
  line-height: 1;

  @include above(sm) {
    font-size: 34px;
  }

  @include between (sm, md) {
    font-size: 52px;
  }

  @include above (md) {
    font-size: 52px;
  }

  @include above(lg) {
    font-size: 72px;
    
  }
}

h2, .h2 {
  font-size: 28px;
   line-height: 1;
   font-family: 'Plyfair Display' !important;

  @include above(sm) {
    font-size: 30px;
  }

  @include above(md) {
    font-size: 38px;
  }

  @include above(lg) {
    font-size: 50px;
   
  }
}

h3, .h3 {
  font-size: 20px;
   line-height: 1.3;

  @include above(sm) {
    font-size: 24px;
  }
}

h4, .h4 {
  font-size: 18px;
   line-height: 1.3;

  @include above(sm) {
    font-size: 20px;
  }
}

h5, .h5 {
  font-size: 18px;
   line-height: 1.3;
}

h6, .h6 {
  font-size: 16px;
   line-height: 1.3;
}


// Set margins between headings
h1 + h2, .h1 + .h2 {
  @include margin-top(1);
  @include above (sm) {
    $leading-rem: $leading-rem-desktop;
    @include margin-top(1);
  }
}

h2 + h3,
.h2 + .h3,
h3 + h4,
.h3 + .h4,
h4 + h5,
.h4 + .h5 {
  @include margin-top(0.5);
  @include m {
    $leading-rem: $leading-rem-desktop;
    @import 'mixins';
    @include margin-top(0.5);
  }
}

h5 + h6, .h5 + .h6 {
  @include margin-top(-0.5);
  @include m {
    $leading-rem: $leading-rem-desktop;
    @import 'mixins';
    @include margin-top(-0.5);
  }
}

// Change headings font if a heading font is set
@if $font-headings != null {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-family: $font-headings;
  }
}